@(tokenId: String, passwordForm: Form[(String, String)])(implicit request: RequestHeader, messages:Messages, config: com.typesafe.config.Config)

@implicitFieldConstructor = @{b4.horizontal.fieldConstructor("col-md-3","col-md-6")}

@views.html.templates.mainAuth(Messages("reset.title"), tab = "signin") {
  @b4.form(routes.Auth.handleResetPassword(tokenId)) {
    <fieldset>
      <legend>@Messages("reset.legend")</legend>

      @b4.password(passwordForm("password1"),
        '_label -> Messages("reset.password"),
        'placeholder -> Messages("reset.password"),
        'autofocus -> true)

      @b4.password(passwordForm("password2"),
        '_label -> Messages("reset.verifyPassword"),
        'placeholder -> Messages("reset.verifyPassword"),
        '_error -> passwordForm.globalError)

      @b4.submit('class -> "btn btn-primary"){ @Messages("reset.reset") }
    </fieldset>
  }
}
