@(form: Form[String])(implicit request:RequestHeader, messages:Messages, config: com.typesafe.config.Config)

@implicitFieldConstructor = @{b4.horizontal.fieldConstructor("col-md-3","col-md-6")}

@views.html.templates.mainAuth(Messages("reset.title"), tab = "signin") {
  <div class="card">
    <div class="card-block">
      <h3 class="card-title text-success">
      @Messages("reset.startLegend")
      </h3>

      @b4.form(routes.Auth.handleStartResetPassword) {
        <fieldset>
          @b4.email(form("email"), '_label -> Messages("reset.email"), 'placeholder -> Messages("reset.email"), 'autofocus -> true)
          @b4.submit('class -> "btn btn-primary"){@Messages("reset.submit")}
        </fieldset>
      }
    </div>
  </div>
}
