@import com.mohiva.play.silhouette.api.LoginInfo
@(loggedUser: User, loginInfo: LoginInfo, invoices: List[Invoice], consultants: List[User])(implicit request: RequestHeader, messages: Messages, config: com.typesafe.config.Config)

@invoiceScripts = {
  <script type="text/javascript">
    @invoices.map { invoice =>
      $("#hideInvoice-@invoice._id.get.stringify").click(function() {
        $.ajax({
          type: "PUT",
          url: "@routes.InvoiceController.hideInvoice(invoice._id.get.stringify)",
          success: function(data){
            location.reload();
          },
          error: function(e){
            alert("Error occurred!" + e);
          }
        });
      });
    }
  </script>
}

@views.html.templates.mainApp(Messages("app.invoices.title"), tab = "invoices", loggedUser = Some(loggedUser), loginInfo = Some(loginInfo), invoiceScripts) {

  <div class="spacer"></div>

  <div class="card">
    <div class="card-block">
      <h3 class="card-title text-success">
        @Messages("invoices.index.header")
        <a type="button" class="btn btn-primary btn-primary-outline pull-xs-right" href="@routes.InvoiceController.createInvoiceForm">
          @Messages("invoices.index.create")
        </a>
      </h3>
      <h6 class="card-subtitle text-muted">@Messages("invoices.index.subHeader")</h6>
    </div>
    @invoices match {
      case Nil => {
        <div class="card-block">
          <p class="lead">@Messages("invoices.index.none")</p>
        </div>
      }
      case _ => {
        <ul class="list-group list-group-flush">
        @invoices.map { invoice =>
          <li class="list-group-item">
            <b class="list-group-item-heading">
              Invoice #@invoice._id.get.stringify.takeRight(5)
              <span class="pull-xs-right">
                <span class="label label-default timeago" date-value="@invoice.created"></span>
                <a class="btn btn-primary btn-sm btn-primary-outline" role="button" href="@routes.InvoiceController.generateInvoice(invoice._id.get.stringify)">Generate</a>
                <a class="btn btn-warning btn-sm btn-warning-outline" role="button" href="#" id="hideInvoice-@invoice._id.get.stringify">Hide</a>
              </span>
            </b>
            <p class="list-group-item-text">@Messages("invoices.index.invoice.description", consultants.find(_.id.toString == invoice.consultantId).get.profiles.head.fullName.getOrElse("FNU LNU"), invoice.startDate.toString("MM/dd/yyyy"), invoice.endDate.toString("MM/dd/yyyy"))</p>
          </li>
        }
        </ul>
      }
    }
  </div>

}

