@import com.mohiva.play.silhouette.api.LoginInfo
@import org.joda.time.DateTime

@(loggedUser: User, loginInfo: LoginInfo, invoices: List[Invoice], consultants: List[User], invoicePaymentForm: Form[forms.InvoicePaymentForm.FormData])(implicit request: RequestHeader, messages: Messages, config: com.typesafe.config.Config)

@implicitFieldConstructor = @{ b4.horizontal.fieldConstructor("col-md-4", "col-md-8") }

@invoiceScripts = {
  <script type="text/javascript">
    @invoices.map { invoice =>
      $("#paymentMadeInvoice-@invoice._id.get.stringify").click(function() {
        $.ajax({
          type: "PUT",
          url: "@routes.InvoiceController.paymentReceived(invoice._id.get.stringify)",
          success: function(data){
            location.reload();
          },
          error: function(e){
            alert("Error occurred!" + e);
          }
        });
      });
    }
  </script>
}

@views.html.templates.mainApp(Messages("app.invoices.due.title"), tab = "invoices", loggedUser = Some(loggedUser), loginInfo = Some(loginInfo), invoiceScripts) {

  @invoices.map { invoice =>
    <div class="modal fade" id="updatePaymentDetails-@invoice._id.get.stringify" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"> @Messages("modal.invoice.paymentDetails.form.title")</h4>
          </div>
          <div class="modal-body">
          @b4.form(routes.InvoiceController.paymentReceived(invoice._id.get.stringify)) {
            @b4.text(invoicePaymentForm("paymentReceivedAmount"),
              '_label -> Messages("modal.invoice.paymentDetails.form.label.paymentAmount"),
              '_placeholder -> Messages("modal.invoice.paymentDetails.form.placeholder.paymentAmount"),
              '_help -> Messages("modal.invoice.paymentDetails.form.help.paymentAmount"))
            @b4.submit('class -> "btn btn-primary-outline"){ @Messages("modal.invoice.paymentDetails.form.submit") }
          }
          </div>
        </div>
      </div>
    </div>
  }

  <div class="card">
    <div class="card-block">
      <h3 class="card-title text-success">
        @Messages("invoices.due.header")
      </h3>
      <h6 class="card-subtitle text-muted">
        @Messages("invoices.due.subHeader")
      </h6>
    </div>
    @invoices match {
      case Nil => {
        <div class="card-block">
          <p class="lead">@Messages("invoices.due.none")</p>
        </div>
      }
      case _ => {
        <ul class="list-group list-group-flush">
        @invoices.map { invoice =>
          @if(invoice.dueDate.withTimeAtStartOfDay().isEqual(DateTime.now.withTimeAtStartOfDay())) { @*due today*@
            <li class="list-group-item">
              <b class="list-group-item-heading">
                @Messages("invoices.due.invoice.dueToday.heading", invoice._id.get.stringify.takeRight(5), invoice.dueDate.toString("MM/dd/yyyy"))
                <span class="pull-xs-right">
                  <button type="button" class="btn btn-success btn-sm btn-success-outline" data-toggle="modal" data-target="#updatePaymentDetails-@invoice._id.get.stringify">Payment Received</button>
                  <span class="label label-warning">Due Today</span>
                  <span class="label label-default timeago" date-value="@invoice.created"></span>
                </span>
              </b>
              <p class="list-group-item-text">@Messages("invoices.due.invoice.description", consultants.find(_.id.toString == invoice.consultantId).get.profiles.head.fullName.getOrElse("FNU LNU"), invoice.startDate.toString("MM/dd/yyyy"), invoice.endDate.toString("MM/dd/yyyy"))</p>
            </li>
          } else { @if(invoice.dueDate.isBefore(DateTime.now)) { @*past due*@
            <li class="list-group-item">
              <b class="list-group-item-heading">
                @Html(Messages("invoices.due.invoice.pastDue.heading", invoice._id.get.stringify.takeRight(5), invoice.dueDate, invoice.dueDate.toString("MM/dd/yyyy")))
                <span class="pull-xs-right">
                  <button type="button" class="btn btn-success btn-sm btn-success-outline" data-toggle="modal" data-target="#updatePaymentDetails-@invoice._id.get.stringify">Payment Received</button>
                  <span class="label label-danger">Past Due</span>
                  <span class="label label-default timeago" date-value="@invoice.created"></span>
                </span>
              </b>
              <p class="list-group-item-text">@Messages("invoices.due.invoice.description", consultants.find(_.id.toString == invoice.consultantId).get.profiles.head.fullName.getOrElse("FNU LNU"), invoice.startDate.toString("MM/dd/yyyy"), invoice.endDate.toString("MM/dd/yyyy"))</p>
            </li>
          } else {
            <li class="list-group-item">
              <b class="list-group-item-heading">
                @Html(Messages("invoices.due.invoice.dueIn.heading", invoice._id.get.stringify.takeRight(5), invoice.dueDate, invoice.dueDate.toString("MM/dd/yyyy")))
                <span class="pull-xs-right">
                  <button type="button" class="btn btn-success btn-sm btn-success-outline" data-toggle="modal" data-target="#updatePaymentDetails-@invoice._id.get.stringify">Payment Received</button>
                  <span class="label label-default timeago" date-value="@invoice.created"></span>
                </span>
              </b>
              <p class="list-group-item-text">@Messages("invoices.due.invoice.description", consultants.find(_.id.toString == invoice.consultantId).get.profiles.head.fullName.getOrElse("FNU LNU"), invoice.startDate.toString("MM/dd/yyyy"), invoice.endDate.toString("MM/dd/yyyy"))</p>
            </li>
          }}
        }
        </ul>
      }
    }
  </div>

}