@import com.mohiva.play.silhouette.api.LoginInfo

@import org.joda.time.DateTime
@(title: String, tab: String = "", loggedUser: Option[User], loginInfo:Option[LoginInfo] = None, scripts: Html = Html(""))(content: Html)(implicit request: RequestHeader, messages:Messages, config: com.typesafe.config.Config)

@navbarContent = {
  <ul class="nav navbar-nav">
    @loggedUser.map { user =>
      @if(user.role == Role.OWNER || user.role == Role.ADMIN) {
        <li class="nav-item @("active".when(tab == "users"))">
          <a class="nav-link" href="@routes.UserController.users()">Users</a>
        </li>
        <li class="nav-item btn-group @("active".when(tab == "timesheets"))">
          <a class="dropdown-toggle nav-link" role="button" id="dropdownMenuTimesheets" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Timesheets</a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuTimesheets">
            <li><a class="dropdown-item" href="@routes.TimesheetAdmin.index">Manage</a></li>
            <li><a class="dropdown-item" href="@routes.TimesheetAdmin.projects">Projects</a></li>
            <li><a class="dropdown-item" href="@routes.TimesheetAdmin.pendingTimesheets">Pending Timesheets</a></li>
          </ul>
        </li>
        <li class="nav-item btn-group @("active".when(tab == "invoices"))">
          <a class="dropdown-toggle nav-link" role="button" id="dropdownMenuInvoices" data-toggle="dropdown" aria-haspopup="true"  aria-expanded="false">Invoices</a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuInvoices">
            <li><a class="dropdown-item" href="@routes.InvoiceController.index">Invoices</a></li>
            <li><a class="dropdown-item" href="@routes.InvoiceController.invoicesDue">Invoices Due</a></li>
            <li><a class="dropdown-item" href="@routes.InvoiceController.accounting">Accounting</a></li>
          </ul>
        </li>
      } else {
        @if(user.role == Role.CONSULTANT) {
          <li class="nav-item @("active".when(tab == "timesheets"))">
            <a class="nav-link" href="@routes.TimesheetConsultant.view(user.profiles.flatMap(_.email).head, DateTime.now.toString("YYYY-MM-dd"))">
              Timesheets
            </a>
          </li>
        }
      }
    }
  </ul>
  <ul class="nav navbar-nav pull-xs-right">
  @loggedUser.map { user =>
    @loginInfo.map { loginInfo =>
      <li class="nav-item">
        <img class="nav-link avatar" src="@user.profileFor(loginInfo).flatMap(_.avatarUrl).getOrElse(routes.Assets.versioned("images/default_profile.png"))"/>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="@routes.Application.profile">@Messages("navbar.username", user.fullName(loginInfo).getOrElse(Messages("navbar.none")))</a>
      </li>
    }
    <li class="nav-item">
      <a class="nav-link" href="@routes.Auth.signOut">@Messages("navbar.signout")</a>
    </li>
  }.getOrElse {
    <li class="nav-item @("active".when(tab == "signin"))">
      <a class="nav-link" href="@routes.Auth.signIn">@Messages("navbar.signin")</a>
    </li>
    <li class="nav-item @("active".when(tab == "signup"))">
      <a class="nav-link" href="@routes.Auth.startSignUp">@Messages("navbar.signup")</a>
    </li>
  }
  </ul>
}

@main(title, navbarContent, scripts)(content)
