@(title: String, tab: String = "")(content: Html)(implicit request: RequestHeader, messages:Messages, config: com.typesafe.config.Config)

@navbarContent = {
  <ul class="nav navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="@routes.Application.index">@Messages("navbar.index")</a>
    </li>
  </ul>
  <ul class="nav navbar-nav pull-xs-right">
    <li class="nav-item @("active".when(tab == "signin"))">
      <a class="nav-link" href="@routes.Auth.signIn">@Messages("navbar.signin")</a>
    </li>
    <li class="nav-item @("active".when(tab == "signup"))">
      <a class="nav-link" href="@routes.Auth.startSignUp">@Messages("navbar.signup")</a>
    </li>
  </ul>
}

@main(title, navbarContent)(content)
