@import com.mohiva.play.silhouette.api.LoginInfo

@(loggedUser: User, loginInfo: LoginInfo, createContactForm: Form[forms.ContactForm.FormData], createClientForm: Form[forms.ClientForm.FormData], createVendorForm: Form[forms.VendorForm.FormData], contacts: List[Contact], clients: List[Client], vendors: List[Vendor])(implicit request: RequestHeader, messages: Messages, config: com.typesafe.config.Config)

@implicitFieldConstructor = @{ b4.horizontal.fieldConstructor("col-md-4", "col-md-8") }

@adminScripts = {
  <script type="text/javascript">
    var tabs = $('#myTabs');

    tabs.find('a').click(function(e) {
      e.preventDefault();
      $(this).tab('show');
    });

    // store the currently selected tab in the hash value
    $("ul.nav-tabs > li > a").on("show.bs.tab", function(e) {
      window.location.hash = $(e.target).attr("href").substr(1);
    });

    // on load of the page: switch to the currently selected tab
    var hash = window.location.hash;
    tabs.find('a[href="' + hash + '"]').tab('show');
  </script>
}

@views.html.templates.mainApp(Messages("app.timesheets.title"), tab = "timesheets", loggedUser = Some(loggedUser), loginInfo = Some(loginInfo), adminScripts) {

  <div class="modal fade" id="createContactModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel"> @Messages("modal.contact.form.title")</h4>
        </div>
        <div class="modal-body">
          @b4.form(routes.TimesheetAdmin.createContact) {
            @b4.text(createContactForm("firstName"),
              '_label -> Messages("modal.contact.form.firstName"),
              '_placeholder -> Messages("modal.contact.form.placeholder.firstName"))
            @b4.text(createContactForm("lastName"),
              '_label -> Messages("modal.contact.form.lastName"),
              '_placeholder -> Messages("modal.contact.form.placeholder.lastName"))
            @b4.email(createContactForm("email"),
              '_label -> Messages("modal.contact.form.email"),
              '_placeholder -> Messages("modal.contact.form.placeholder.email"))
            @b4.text(createContactForm("title"),
              '_label -> Messages("modal.contact.form.contactTitle"),
              '_placeholder -> Messages("modal.contact.form.placeholder.contactTitle"))
            @b4.text(createContactForm("officeNum"),
              '_label -> Messages("modal.contact.form.officeNum"),
              '_placeholder -> Messages("modal.contact.form.placeholder.officeNum"))
            @b4.text(createContactForm("mobileNum"),
              '_label -> Messages("modal.contact.form.mobileNum"),
              '_placeholder -> Messages("modal.contact.form.placeholder.mobileNum"))
            @b4.text(createContactForm("faxNum"),
              '_label -> Messages("modal.contact.form.faxNum"),
              '_placeholder -> Messages("modal.contact.form.placeholder.faxNum"))
            @b4.submit('class -> "btn btn-primary-outline"){ @Messages("modal.contact.form.submit") }
          }
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="createClientModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel"> @Messages("modal.client.form.title")</h4>
        </div>
        <div class="modal-body">
        @b4.form(routes.TimesheetAdmin.createClient, 'id -> "clientAddForm") {
          @b4.text(createClientForm("companyName"),
            '_label -> Messages("modal.client.form.companyName"),
            '_placeholder -> Messages("modal.client.form.placeholder.companyName"))
          @b4.text(createClientForm("companyAddress"),
            '_label -> Messages("modal.client.form.companyAddress"),
            '_placeholder -> Messages("modal.client.form.placeholder.companyAddress"))
          @b4.select(createClientForm("primaryContacts"),
            options = contacts.map(c => (c._id.get.stringify, s"${c.firstName} ${c.lastName}")),
            'class -> "select2",
            '_label -> Messages("modal.client.form.primaryContacts"),
            'multiple -> true,
            '_help -> Messages("modal.client.form.help.primaryContacts"))
          @b4.select(createClientForm("secondaryContacts"),
            options = contacts.map(c => (c._id.get.stringify, s"${c.firstName} ${c.lastName}")),
            'class -> "select2",
            '_label -> Messages("modal.client.form.secondaryContacts"),
            'multiple -> true)
          @b4.submit('class -> "btn btn-primary-outline"){ @Messages("modal.client.form.submit") }
        }
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="createVendorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel"> @Messages("modal.vendor.form.title")</h4>
        </div>
        <div class="modal-body">
        @b4.form(routes.TimesheetAdmin.createVendor, 'id -> "vendorAddForm") {
          @b4.text(createClientForm("companyName"),
            'id -> "vendorCompanyName",
            '_label -> Messages("modal.vendor.form.companyName"),
            '_placeholder -> Messages("modal.vendor.form.placeholder.companyName"))
          @b4.text(createClientForm("companyAddress"),
            'id -> "vendorCompanyAddress",
            '_label -> Messages("modal.vendor.form.companyAddress"),
            '_placeholder -> Messages("modal.vendor.form.placeholder.companyAddress"))
          @b4.select(createClientForm("primaryContacts"),
            options = contacts.map(c => (c._id.get.stringify, s"${c.firstName} ${c.lastName}")),
            'class -> "select2",
            'id -> "vendorPrimaryContacts",
            '_label -> Messages("modal.vendor.form.primaryContacts"),
            'multiple -> true,
            '_help -> Messages("modal.vendor.form.help.primaryContacts"))
          @b4.select(createClientForm("secondaryContacts"),
            options = contacts.map(c => (c._id.get.stringify, s"${c.firstName} ${c.lastName}")),
            'class -> "select2",
            'id -> "vendorSecondaryContacts",
            '_label -> Messages("modal.vendor.form.secondaryContacts"),
            'multiple -> true)
          @b4.submit('class -> "btn btn-primary-outline"){ @Messages("modal.vendor.form.submit") }
        }
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-block">
      <h3 class="card-title text-success">
      @Messages("timesheets.admin.header")
      </h3>
    </div>

    <div class="card-block">
      <ul class="nav nav-tabs" role="tablist" id="myTabs">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#contacts" role="tab">Contacts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#clients" role="tab">Clients</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#vendors" role="tab">Vendors</a>
        </li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active" id="contacts" role="tabpanel">
          <div class="container">
            <div class="spacer"></div>
            <h4>
              @Messages("timesheets.admin.tab.contact.header")
              <button type="button" class="btn btn-primary btn-primary-outline pull-xs-right" data-toggle="modal" data-target="#createContactModal">
              @Messages("timesheets.admin.tab.contact.create")
              </button>
            </h4>
            <p class="text-muted">@Messages("timesheets.admin.tab.contact.description")</p>

            @contacts match {
              case Nil => { <p class="lead">@Messages("timesheets.admin.tab.contact.none")</p> }
              case _ => {
                @contacts.map { contact =>
                  <ul class="list-group">
                    <li class="list-group-item">
                      <b class="list-group-item-heading">
                        <a href="@routes.TimesheetAdmin.editContact(contact._id.get.stringify)">@contact.firstName @contact.lastName</a>
                      <span class="pull-xs-right">
                        <span class="label label-info timeago" date-value="@contact.created"></span>
                      </span>
                      </b>
                      <p class="list-group-item-text">@contact.email</p>
                    </li>
                  </ul>
                }
              }
            }
          </div>
        </div>

        <div class="tab-pane" id="clients" role="tabpanel">
          <div class="container">
            <div class="spacer"></div>
            <h4>
              @Messages("timesheets.admin.tab.client.header")
              <button type="button" class="btn btn-primary btn-primary-outline pull-xs-right" data-toggle="modal" data-target="#createClientModal">
              @Messages("timesheets.admin.tab.client.create")
              </button>
            </h4>
            <p class="text-muted">@Messages("timesheets.admin.tab.client.description")</p>

            @clients match {
              case Nil => { <p class="lead">@Messages("timesheets.admin.tab.client.none")</p> }
              case _ => {
                @clients.map { client =>
                  <ul class="list-group">
                    <li class="list-group-item">
                      <b class="list-group-item-heading">
                        <a href="@routes.TimesheetAdmin.editClient(client._id.get.stringify)">@client.companyName</a>
                      <span class="pull-xs-right">
                        <span class="label label-info timeago" date-value="@client.created"></span>
                      </span>
                      </b>
                      <p class="list-group-item-text">@client.companyAddress</p>
                    </li>
                  </ul>
                }
              }
            }
          </div>
        </div>

        <div class="tab-pane" id="vendors" role="tabpanel">
          <div class="container">
            <div class="spacer"></div>
            <h4>
              @Messages("timesheets.admin.tab.vendor.header")
              <button type="button" class="btn btn-primary btn-primary-outline pull-xs-right" data-toggle="modal" data-target="#createVendorModal">
              @Messages("timesheets.admin.tab.vendor.create")
              </button>
            </h4>
            <p class="text-muted">@Messages("timesheets.admin.tab.vendor.description")</p>

            @vendors match {
              case Nil => {
                <p class="lead">@Messages("timesheets.admin.tab.vendor.none")</p>
              }
              case _ => {
                @vendors.map { vendor =>
                  <ul class="list-group">
                    <li class="list-group-item">
                      <b class="list-group-item-heading">
                        <a href="@routes.TimesheetAdmin.editVendor(vendor._id.get.stringify)">@vendor.companyName</a>
                      <span class="pull-xs-right">
                        <span class="label label-info timeago" date-value="@vendor.created"></span>
                      </span>
                      </b>
                      <p class="list-group-item-text">@vendor.companyAddress</p>
                    </li>
                  </ul>
                }
              }
            }
          </div>
        </div>

      </div>
    </div>
  </div>

}