@import com.mohiva.play.silhouette.api.LoginInfo

@(loggedUser: User, loginInfo: LoginInfo, clientForm: Form[forms.ClientForm.FormData], client: Client, contacts: List[Contact])(implicit request: RequestHeader, messages: Messages, config: com.typesafe.config.Config)

@implicitFieldConstructor = @{b4.horizontal.fieldConstructor("col-md-3","col-md-6")}

@views.html.templates.mainApp(Messages("app.timesheets.client.title"), tab = "timesheets", loggedUser = Some(loggedUser), loginInfo = Some(loginInfo)) {

  <div class="card">
    @b4.form(routes.TimesheetAdmin.editClient(client._id.get.stringify), 'class -> "card-block") {
      <fieldset>
        <legend>@Messages("client.update.legend")</legend>

        @b4.text(clientForm("companyName"),
          '_label -> Messages("modal.client.form.companyName"),
          '_placeholder -> Messages("modal.client.form.placeholder.companyName"),
          'value -> client.companyName)

        @b4.text(clientForm("companyAddress"),
          '_label -> Messages("modal.client.form.companyAddress"),
          '_placeholder -> Messages("modal.client.form.placeholder.companyAddress"),
          'value -> client.companyAddress.getOrElse(""))

        @*TODO: Select2 with multi not working with play-bootstrap*@
        <fieldset class="form-group row" id="primaryContacts_field">
          <label class="control-label form-control-label col-md-3" for="primaryContacts">Primary Contacts</label>
          <div class="col-md-6">
            <select id="primaryContacts" name="primaryContacts[]" aria-describedby="primaryContacts_info_0" class="form-control select2" multiple="true">
              @contacts.map { contact =>
                @if(client.primaryContacts.contains(contact._id.get.stringify)) {
                  <option value="@contact._id.get.stringify" selected>@contact.firstName @contact.lastName</option>
                } else {
                  <option value="@contact._id.get.stringify">@contact.firstName @contact.lastName</option>
                }
              }
            </select>
            <span id="primaryContacts_info_0" class="help-block">Select at-least one contact. This contact will be used for email communication.</span>
          </div>
        </fieldset>

        <fieldset class="form-group row" id="secondaryContacts_field">
          <label class="control-label form-control-label col-md-3" for="secondaryContacts">Secondary Contacts</label>
          <div class="col-md-6">
            <select id="secondaryContacts" name="secondaryContacts[]" aria-describedby="secondaryContacts_info_0" class="form-control select2" multiple="true">
            @contacts.map { contact =>
              @if(client.secondaryContacts.getOrElse(Seq()).contains(contact._id.get.stringify)) {
                <option value="@contact._id.get.stringify" selected>@contact.firstName @contact.lastName</option>
              } else {
                <option value="@contact._id.get.stringify">@contact.firstName @contact.lastName</option>
              }
            }
            </select>
          </div>
        </fieldset>

        @b4.submit('class -> "btn btn-primary-outline"){ @Messages("client.form.update") }
      </fieldset>
    }
  </div>

}