@import com.mohiva.play.silhouette.api.LoginInfo

@(loggedUser: User, loginInfo: LoginInfo, timesheets: List[Timesheet], consultants: List[User])(implicit request: RequestHeader, messages: Messages, config: com.typesafe.config.Config)

@timesheetScripts = {
  <script type="text/javascript">
    @timesheets.map { timesheet =>

      $("#approveRequest-@timesheet._id.get.stringify").click(function() {
        var _this = $(this);
        _this.html('<i class="fa fa-spinner fa-spin"></i>');
        _this.attr('disabled', true); // no double submit

        $.ajax({
          type: "POST",
          url: "@routes.TimesheetAdmin.approveTimesheet(timesheet._id.get.stringify)",
          success: function(data){
            location.reload();
          },
          error: function(e){
            alert("Error occurred!" + e);
          }
        });
      });

      $("#denyRequest-@timesheet._id.get.stringify").click(function() {
        var _this = $(this);
        _this.html('<i class="fa fa-spinner fa-spin"></i>');
        _this.attr('disabled', true); // no double submit

        $.ajax({
          type: "POST",
          url: "@routes.TimesheetAdmin.denyTimesheet(timesheet._id.get.stringify)",
          success: function(data){
            location.reload();
          },
          error: function(e){
            alert("Error occurred!" + e);
          }
        });
      });

    }
  </script>
}

@views.html.templates.mainApp(Messages("app.timesheets.pending.title"), tab = "timesheets", loggedUser = Some(loggedUser), loginInfo = Some(loginInfo), timesheetScripts) {

  <div class="card">
    <div class="card-block">
      <h3 class="card-title text-success">
        @Messages("timesheets.pending.header")
      </h3>
      <h6 class="card-subtitle text-muted">@Messages("timesheets.pending.subHeader")</h6>
    </div>

    @timesheets match {
      case Nil => {
        <div class="card-block">
          <p class="lead">@Messages("timesheets.pending.none")</p>
        </div>
      }
      case _ => {
        <ul class="list-group list-group-flush">
          @timesheets.map { timesheet =>
            <li class="list-group-item">
              <b class="list-group-item-heading">
                @Messages("timesheets.pending.description", consultants.find(_.id.toString == timesheet.consultantId).map(_.profiles.head.fullName.getOrElse("FNU LNU")).getOrElse("FNU LNU"), timesheet.totalHours, timesheet.weekStart.toString("dd MMM YYYY"), timesheet.weekEnd.toString("dd MMM YYYY"))
                <span class="pull-xs-right">
                  <span class="label label-default timeago" date-value="@timesheet.submittedAt"></span>
                  @if(timesheet.status == TimesheetStatus.RE_SUBMITTED) {
                    <span class="label label-warning">Resubmission</span>
                  }
                  <button type="button" id="approveRequest-@timesheet._id.get.stringify" class="btn btn-success-outline btn-sm" data-toggle="tooltip" data-placement="bottom" title="Approve this request"><i class="fa fa-check fa-lg" aria-hidden="true"></i></button>
                  <button type="button" id="denyRequest-@timesheet._id.get.stringify" class="btn btn-danger-outline btn-sm" data-toggle="tooltip" data-placement="bottom" title="Deny this request"><i class="fa fa-times fa-lg" aria-hidden="true"></i></button>
                </span>
              </b>
              <p class="list-group-item-text text-muted"><small>This timesheet entry was created on: @timesheet.created.map(_.toString("dd MMM YYYY")), and last updated on: @timesheet.updated.map(_.toString("dd MMM YYYY")). </small></p>
            </li>
          }
        </ul>
      }
    }
  </div> <!-- outer card -->

}