@import com.mohiva.play.silhouette.api.LoginInfo
@import _root_.models.User

@(loggedUser: User, loginInfo: LoginInfo, users: List[User])(implicit request: RequestHeader, messages:Messages, config: com.typesafe.config.Config)

@views.html.templates.mainApp(Messages("app.title"), tab = "users", loggedUser = Some(loggedUser), loginInfo = Some(loginInfo)) {
  @*Core*@
  <h2 class="text-success">@Messages("users.header")</h2>

  <table class="table">
    <thead>
      <th>Email</th>
      <th>Name</th>
      <th>Role</th>
    </thead>
    <tbody>
    @users.map { user =>
      <tr id="@user.id">
        <td><a href="@routes.UserController.getUser(user.id.toString)">@user.profiles.map(_.email)</a></td>
        <td>@user.profiles.map(_.fullName)</td>
        <td>@user.role</td>
      </tr>
    }
    </tbody>
  </table>
}
